<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <style>
            header{
                height: 7rem;
            }
        </style>
    </head>
<body>
    <header class="container-fluid bg-success">
        <div class="row justify-content-center">
            <div class="col-6 align-self-center">
                Registro de Mantenimiento
            </div>
            <div class="col-2 ms-auto">
                <a href="/login">Iniciar Sesión</a>
            </div>
        </div>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>
</html>