<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        *{
            font-family:Arial, Helvetica, sans-serif
        }

        main{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50vw;
            min-width: 400px;
            background-color: cornflowerblue;
            padding: 2rem;
            border-radius: 30px;
        }

        form input{
            font-size: 1.5rem;
            width: 70%;
            border-radius: 20px;
            min-width: 300px;
            padding: 0.2rem;
        }

        form label{
            font-size: 1.5rem;
            font-weight: bolder;
            padding: 1rem 0;
        }

        #boton-submit{
            margin-top: 2rem;
        }

        .mensaje-importante{
            font-size: 1.5rem;
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>
    <main>
        <form action="/login" method="POST">
            <label for="">Ingrese su correo</label>
            <input type="email" name="email" id="email">
            <label for="">Ingrese su contraseña</label>
            <input type="password" name="password" id="password">
            <p class="mensaje-importante"><%= mensaje %></p>
            <input type="submit" value="Ingresar" id="boton-submit">
        </form>
    </main>
</body>
</html>