<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimientos</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        *{
            font-family: sans-serif;
            box-sizing: border-box;
        }

        body{
            margin: 0;
            padding: 0;
        }

        .titulos{
            margin: 0;
        }

        .tarjeta{
            width: 95vw;
            margin: 2rem auto;
            background-color: rgb(220, 220, 220);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .info{
            width: 30%;
            margin: 1rem;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(200, 200, 200);
        }

        .descripcion{
            width: 30%;
            margin: 1rem;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(200, 200, 200);
        }

        .obs{
            width: 30%;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
        }

        .obs1{
            height: 10rem;
            padding: 10px;
            background-color: rgb(200, 200, 200);
            border-radius: 10px;
        }

        .obs1 h4, .obs1 p{
            margin: 0;
        }

        .obs2{
            display: flex;
            justify-content: flex-end;
        }

        .boton{
            border-radius: 2000px;
            border: 0px;
            width: 3rem;
            cursor: pointer;
            margin: 1rem;
            aspect-ratio : 1 / 1;
        }

        .boton-editar{
            background-color: green;
            color: black;
        }
        .boton-eliminar{
            background-color: rgb(209, 17, 0);
            color: black;
        }
    </style>
</head>
<body>
    <main>
        <div class="tarjeta">
            <div class="info">
                <h4 class="titulos">
                    Fecha:
                </h4>
                <p>

                </p>
                <h4 class="titulos">
                    Responsable:
                </h4>
                <p>

                </p>
                <h4 class="titulos">
                    Realizado por:
                </h4>
                <p>

                </p>
            </div>
            <div class="descripcion">
                <h4 class="titulos">
                    Descripcion:
                </h4>
                <div class="descripcion-descripcion">
                    
                </div>
            </div>
            <div class="obs">
                <div class="obs1">
                    <h4 class="titulos">
                        Observaciones:
                    </h4>
                    <p>

                    </p>
                </div>
                <div class="obs2">
                    <button class="boton-editar boton">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                    <button class="boton-eliminar boton">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </div>
            </div>
        </div>




        <div class="tarjeta">
            <div class="info">
                <h4 class="titulos">
                    Fecha:
                </h4>
                <p>

                </p>
                <h4 class="titulos">
                    Responsable:
                </h4>
                <p>

                </p>
                <h4 class="titulos">
                    Realizado por:
                </h4>
                <p>

                </p>
            </div>
            <div class="descripcion">
                <h4 class="titulos">
                    Descripcion:
                </h4>
                <div class="descripcion-descripcion">
                    
                </div>
            </div>
            <div class="obs">
                <div class="obs1">
                    <h4 class="titulos">
                        Observaciones:
                    </h4>
                    <p>

                    </p>
                </div>
                <div class="obs2">
                    <button class="boton-editar boton">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                    <button class="boton-eliminar boton">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </div>
            </div>
        </div>




        <div class="tarjeta">
            <div class="info">
                <h4 class="titulos">
                    Fecha:
                </h4>
                <p>

                </p>
                <h4 class="titulos">
                    Responsable:
                </h4>
                <p>

                </p>
                <h4 class="titulos">
                    Realizado por:
                </h4>
                <p>

                </p>
            </div>
            <div class="descripcion">
                <h4 class="titulos">
                    Descripcion:
                </h4>
                <div class="descripcion-descripcion">
                    
                </div>
            </div>
            <div class="obs">
                <div class="obs1">
                    <h4 class="titulos">
                        Observaciones:
                    </h4>
                    <p>

                    </p>
                </div>
                <div class="obs2">
                    <button class="boton-editar boton">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                    <button class="boton-eliminar boton">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>