<header> 
    <div class="topnav">
        <a href="/">
            <div class="div1">
                Inicio
            </div>
        </a>
        <a href="/lista">
            <div class="div1">
                Lista
            </div>
        </a>
        <a href="/areas">
            <div class="div1">
                Areas
            </div>
        </a>
        <a href="/sectores">
            <div class="div1">
                Sectores
            </div>
        </a>
    </div>
    <div class="separador">

    </div>
    <div class="usuario">
        <div>
            <img src="/images/pf.jpg" alt="">
        </div>
    </div>
</header>